### Common.
/.cache/
/reports/


### Composer.
/vendor/
/sweetchuck-po-parser-*.tar
/sweetchuck-po-parser-*.tar.bz2
/sweetchuck-po-parser-*.tar.gz
/sweetchuck-po-parser-*.zip


### Composer Suite.
/.composer-suite/
/composer.local.json
/composer.local.lock


### PHPUnit.
/phpunit.xml


### PHP Code Sniffer.
/phpcs.xml


### PHPStan.
/tests/src/Phpstan.php
/phpstan.neon


### Robo.
/robo.yml


### sweetchuck/git-hooks.
/.git-hooks.local
